.container{
    height: fit-content;
    width: 70%;
    background-color: var(--yellow);
    margin-bottom: 0;
    // position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    
}
.cards{
    border: 2px solid;
    max-width: 30%;
    min-width: fit-content;
    justify-content: center;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.address{
    width: 60%;
    border: 2px solid;
    min-width: fit-content;
    justify-content: center;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}


