@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green:#00cb75;
    --yellow:#a5e887;
    --peacock:#00aa95;
    --white:#FFF;
    --black:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--white);
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--yellow);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--peacock);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}