.container{
        background-color: #00698e;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
}



.heading{
        color: var(--white);
        font-size: 28px;
        font-weight: 700;
      
}
