.container{
    width: 100%;
   height: 90vh;
   background-image: url('../assets/main.svg');
   background-repeat: no-repeat;
   background-size: cover;
}

.logoContainer{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}



.brand{
    font-size: 48px;

}


.quote{
    font-size: 24px;
    font-style: italic;
}

