.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     z-index: 100;
    height: auto;
    padding: 1rem;
    background-color: var(--white);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo {
    background-color: var(--white);
    padding: 6px;
    border-radius: 12px;
}

.logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    stroke: var(--white);
}

.brand {
    color: var(--peacock);
    font-size: 24px;
}