.container {
    position: relative;
    display: flex;
    justify-content: start;
    padding: 2%;
    height: max-content;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

}

.image {
    border: 1px solid var(--peacock);
    border-radius: 4%;
    border-collapse: separate;
    perspective: 1px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    padding: 0%;
}

.images {
    background-size: cover;
}



.brand {
    display: flex;
    justify-content: end;
    text-align: center;
    color: var(--peacock);
    font-size: 35px;
    margin-top: 2%;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    border-radius: 12px;
    padding: 12px;
    color: black;
    background-color: var(--peacock);

    &:hover {
        transform: scale(1.1);
        background-color: var(--peacock);
        color: whitesmoke;
    }
}

.company_details {
    border-radius: 4%;
}

.logo,
.brand {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.app {
    font-size: 20px;
    color: black;
    text-align: center;
}